:root {
    background-color: black;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

@keyframes slideDownFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.slide_down {
    animation: 0.5s cubic-bezier(0.76, 0, 0.24, 1) 0s 1 slideDownFromTop;
}

header {
    background-color: black;
    margin: 4px;
    width: 100%;
    transition: 0.5s;
}

header img {
    height: 8vh;
    display: block;
    margin: auto;
}