body {
    background: url("assets/80x80_nebula.png");

    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

    padding: 0;

    color: white;
}

.logo {
    width: 100%;
}

div.vertical-line{
    width: 1px;
    background-color: white;
    height: 100%;
    float: left;
}

.bg {
    width: 100%;
    height: 100vh;

    padding: 12px;
    margin: 0;

    background-color: black;
}

header {
    display: grid;
    grid-template-areas: "logo nav";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100%;
}

nav {
    display: flex;
    position: sticky;

    height: 100%;
    margin: auto;
    padding: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    line-height: 80px;
    padding: 16px;
    margin: auto;

    display: block;
    color: white;
    text-align: center;

    transition: background-color 0.3s, color 0.3s;
}

nav li a:hover {
    background-color: white;
    color: black;
}

header img {
    height: 100%;
}