:root {
    --train_cars: 17;
    --train_duration: 34s;
}

body{
    image-rendering: crisp-edges;
    font-family: sans-serif;
    background-color: black;
    max-width: 1536px;
    min-width: 450px;
    margin: auto;

    color: white;
}
hr{
    border: 1px solid slateblue;
}

#space_bg {
    background-image: url(assets/80x80_nebula.png);
}

/*Header*/

.header {
    position: sticky;
    top: 0;
    height: fit-content;
    max-height: 240px;

    width: 100%;
    max-width: inherit;
}

.header_text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    max-height: 150px;
}

.header_text img {
    width: 70%;
    height: auto;
    max-height: inherit;
}

/*Navbar*/

.navbar {
    background-color: black;
    display: flex;
    justify-content: center;
    position: sticky;

	--angle: 0deg;
	border: double 2px transparent;
    border-radius: 6px;
	border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
	
	animation: 5s rotate linear infinite;
}

.navbar ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;

    transition: background-color 0.3s, color 0.3s;
}

.navbar li a:hover {
    background-color: white;
    color: black;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

/*Main*/

.main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: row;
    margin-bottom: 50px;
}

.album {
    display: inline-block;

    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 6px;
    margin: 4px;
    overflow: hidden;
}

.album a {
    color: white;
    text-decoration: none;
}

.album a:hover {
    text-decoration: underline;
}

.album img {
    width: 256px;
    max-width: 100%;

    height: auto;
}

.album ol {
    text-align: left;
}

.album hr {
    border: 1px solid white;
}

/*Footer*/

my-footer {
    max-width: inherit;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 49px;

    width: 100%;
    max-width: inherit;
}

.flex_scroll {
    display: flex;
    align-items: center;
    position: relative;
    height: 3rem;
    overflow: hidden;
    height: 31px;
    width: 100%;
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.flex_scroll_item {
    margin: auto;
    width: 88px;
    height: 31px;
    position: absolute;
    left: 100%;

    animation-name: scrollLeft;
    animation-duration: var(--train_duration);
    animation-delay: calc(var(--train_duration) / var(--train_cars) * (var(--train_cars) - var(--n)) * -1);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.flex_scroll_item img {
    max-height: 100%;
}